.navbar {
    background-color: white;
}

.advicesCard{
    background-color:rgb(255, 255, 255);
}

.groupCard{
    background-color:rgb(255, 255, 255);
}

.pagesCard{
    background-color:rgb(255, 255, 255);
}



.postCard{
    background-color:rgb(255, 255, 255);
}


.profileCard{
    background-color: rgb(255, 255, 255);
}

.shareCard {
    background-color: rgb(255, 255, 255);
}